@media (max-width: 1366px) {
	#animacion_contenido02 {background-size: auto 100%;}
	#pie01{float: left;position: relative;color: #FFFFFF;margin-top: -20px;margin-left: 10px;}	
}
@media (max-width: 1280px) {
}
@media (max-width: 1080px) {
	a.but01, a.but01:active, a.but01:visited, a.but01:link{margin-left: 5px;margin-right: 5px;}
	a.but06, a.but06:active, a.but06:visited, a.but06:link{margin-left: 5px;margin-right: 5px;}
	a.but04, a.but04:active, a.but04:visited, a.but04:link{margin-left: 5px;margin-right: 5px;}
	a.but03, a.but03:active, a.but03:visited, a.but03:link{margin-left: 5px;margin-right: 5px;}
	#textos_imagen {width: 100%;height: 350px;}
	#textos_i {width: calc(25% - 10px);margin-left: 5px;margin-right: 5px;}
	#textos_d {width: calc(75% - 10px);margin-left: 5px;margin-right: 5px;}
	#tab-1, #tab-2, #tab-3, #tab-4, #tab-5, #tab-6{width: calc(100% - 20px);}	
}
@media (max-width: 1024px) {#disponibilidad_ci_cal {left: 240px;}
}
@media (max-width: 980px) {
	#cabecera01 {z-index: 2;height: 45px;}
	#cabecera_contenido01 {position: fixed;background-color: rgba(255,255,255,1.00);height: 45px;width: 100%;z-index: 2;}
	#numero,#numero_int {right: 140px;font-size: 18px;color: #213f00;}
	#logo01 {height: 45px;background-size: auto 100%;left: 50px;width: 150px;}
	#disponibilidad_ci {position: relative;top: -5px;}
	#disponibilidad_ci_cal {position: relative;left: 0px;top: -25px;}	
	#menu01,#menu02,#logo02,#menu03,#menu04,#tours_principal,#tours_pie{display: none;}
	#menu_adaptativo_boton, #adaptativo_tours {display: block;}
	#animacion01, #animacion02, #animacion03, #cabecera02{display:none;}
	#adaptativo_tours {position: relative !important;z-index: 1;width: 240px;float: left;clear: both;}
	#pie_logos {float: left;clear: both;}
	#textos {margin-top: 0px;margin-bottom: 0px;}
}
@media (max-width: 800px) {
	#tours_info {width: 250px;}
	#formulario {display: none;}
	#datos_miembros {overflow-x: scroll;float: left;width: 100%;padding-top: 0px;padding-bottom: 10px;}
}
@media (max-width: 790px) {}
@media (max-width: 768px) {}
@media (max-width: 640px) {
	#tours_lista {margin-bottom: 20px;}	
	#tours_info {width: 300px;}
	#tours_adaptativo {clear: both;margin-bottom: 10px;}
	#tours_info_adaptativo {width: 380px;height: auto;}
	#tours_adaptativo h2 {font-size: 18px;padding-top: 0px;padding-bottom: 5px;}
	#tours_info_adaptativo h2 {text-align: left;}
	#tours_precios {padding-left: 10px;margin-top: 5px;	margin-bottom: 0px;}
	#textos_i {width: calc(100% - 20px);margin-left: 10px;margin-right: 10px;}
	#textos_d {width: calc(100% - 20px);margin-left: 10px;margin-right: 10px;margin-top: 20px;}
	#textos_d h1, #textos_d h2 {margin-left: 0px;text-align: left;}
	#textos {margin-top: -20px;margin-bottom: 0px;}	
	#textos_adicionales {display: none;}
	#vo_pax {width: 100%;	}
	#vo_botones {width: calc(100%);}
	ul.tabs li{width: calc(100% - 40px);}
}
@media (max-width: 600px) {
	#tours_info {width: 280px;}	
	#tours_info_adaptativo {width: 340px;}
}
@media (max-width: 527px) {
	#tours_info {width: 200px;}
	#tours_lista {margin-bottom: 40px;}
	#tours_adaptativo {margin-bottom: 20px;}
	#tours_info_adaptativo {left: 180px;width: 330px;}
	#tour_imagen_adaptativo{width: 180px;height: 120px;}
	#tours_adaptativo h2 {width: 180px;}
	#tours_info_adaptativo h2 {display: none;}
	#textos_imagen {height: 300px;}
	.nd_calendario_ci {width: 360px;margin-left: -15px;}
	.nd_calendario_ci div {width: 38px;height: 40px;}
	.nd_calendario_ci .nd_calendario_ci_titulo {width: 340px;}
	.nd_calendario_ci .nd_calendario_boton {font-size: 12px;}
}
@media (max-width: 480px) {
	#tour_imagen{width: 180px;height: 120px;}	
	#tours_info {left: 120px;width: 260px;}
	#tours_lista {margin-bottom: 10px;}		
	#tours_info_adaptativo {width: 280px;}
	#disponibilidad_ci_cal {left: 10px;}	
	#numero, #numero_int {display:none;}
}
@media (max-width: 473px) {}
@media (max-width: 360px) {
	#tour_imagen{width: 100px;height: 70px;}	
	#tours_info {left: 50px;width: 220px;}
	#tours_lista {margin-bottom: 20px;}
	#tours_adaptativo {margin-bottom: 140px;}
	#tours_info_adaptativo {width: 160px;}
	#disponibilidad_ci {font-size: 18px;padding-top: 16px;}
	#textos_imagen {height: 200px;}
}
@media (max-width: 320px) {}